*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0)
}

.titulo{
    color: rgb(255, 0, 0);
}